@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);

:root{
  --font-base: 'Lexend',sans-serif;;
  --font-second-base: 'Inter',sans-serif;
  --bg-color:#111;
  --primary-color:#fffffff;
  --secondary-color:#e50914;
}
  body{
    background-color: #111;
  }

  
